* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: rgb(153, 30, 30);
    color: rgb(0, 0, 0);
}

.site-header {
    background-color: hsl(0,61%,28%);
    color: aliceblue;
    padding: 1rem 0;
    text-align: center;
}

.site-title {
    margin-bottom: 10px;
    font-size: 2rem;
}


.main-nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.main-nav .nav-list:hover {
    color: rgb(255,255,255);
}

.main-nav {
    margin: 0 15px;
}